

body {
    background-image: url(../images/starsgif.gif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: black;ß
    
}

h1 {
    font-family: "Copperplate", "Courier New", fantasy;
    color: white;
    text-align: center;
    
}


hr {
    color: white;
}
p {
    color: white;
}
a{
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}
h6 {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    border: 10px solid black;
    border-radius: 13px;
    background-color: black;
}